<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" ng-app="helloWorld"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Agenda Telefônica</title>

        <meta name="description" content="">
        <meta name="robots" content="index,follow"/> 
        <meta name="keywords" content="">
        

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/lib/angular-locale_pt-br.js"></script>
        <script src="js/lib/angular-messages.min.js"></script>
        
        <script>
            angular.module('helloWorld', ["ngMessages"]); //criou um módulo

            //registrando o módulo
            angular.module('helloWorld').controller('helloWorldCtrl', function($scope, $http){
                $scope.titulo = "Agenda Telefônica";
                //array de contatos
                $scope.contatos = [];
                //array de operadoras
                $scope.operadoras = [];

                //função para carregar contatos $http
                var carregarContatos = function(){
                    $http.get('http://localhost:80/agendatelefonica.com/js/contatos.js').success(function(data, status){
                        $scope.contatos = data;
                    });
                };
                
                //função para carregar operadoras $http
                var carregarOperadoras = function(){
                    $http.get('http://localhost:80/agendatelefonica.com/js/operadoras.js').success(function(data, status){
                        $scope.operadoras = data;
                    });
                };

                //função para adicionar contato
                $scope.adicionarContato = function(contato){
                    // $scope.contatos.push(angular.copy(contato));
                    contato.data = new Date();
                    $http.post('http://localhost:80/agendatelefonica.com/js/contatos.js', contato).success(function(data){
                        console.log(data);
                        delete $scope.contato;
                        $scope.contatoForm.$setPristine(); //volta os inputs como nunca tocados
                        carregarContatos();
                    });
                };


                //função para apagar contato
                $scope.apagarContato = function(contatos){
                   $scope.contatos = contatos.filter(function(contato) {
                       if (!contato.selecionado) return contato;
                       
                   });

                };


                //função para selecionar e aparecer botão de remover
                $scope.isSelecionado = function(contatos){
                    return contatos.some(function(contato){
                        return contato.selecionado;
                    });

                };

                $scope.ordenarPor = function(campo){
                    $scope.criterioDeOrdenacao = campo;
                    $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
                }

                //atribuindo classe para o selecionado
                $scope.selecionado = 'selecionado';
                $scope.selecionado = 'sublinhado';

                carregarContatos();
                carregarOperadoras();

            });
        </script>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>


    <body ng-controller="helloWorldCtrl">



        <div class="jumbotron">
            <h3>{{titulo}}</h3>

            <input type="text" placeholder="Digite o que procura..." ng-model="criterioBusca" class="form-control">

            <table class="table table-striped" ng-show="contatos.length > 0">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <!-- <th></th> cor-->
                    <th>Data</th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter: criterioBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td>{{contato.data | date :'dd/mm/yyyy'}}</td>
                    <!-- <td><div class="cores" ng-style="{'background-color': contato.cor}"></div></td> -->
                    <!-- <td ng-repeat="(key,value) in contato">{{key +' - '+ value}}</td> -->
                </tr>
            </table>
            <hr>

            <form name="contatoForm">

                <input type="text" ng-model="contato.nome" class="form-control" name="nome" placeholder="Digite o nome..." ng-required="true" ng-minlength="10">

                <input type="text" ng-model="contato.telefone" class="form-control" name="telefone" placeholder="Digite o telefone..." ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" >

                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + '('+(operadora.preco | currency) +')' group by operadora.categoria  for operadora in operadoras | orderBy:'nome'">
                    <option value="">Selecione uma operadora</option>
                </select>

                <button ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid" class="btn btn-primary btn-block">Adicionar Contato</button>
                
                <button ng-click="apagarContato(contatos)" class="btn btn-danger btn-block" ng-if="isSelecionado(contatos)">Apagar Contato</button>

            </form>

            <div ng-messages="contatoForm.nome.$error">   
                <div ng-message="required" ng-show="contatoForm.nome.$dirty" class="alert alert-danger">
                    <p>Preencha o nome!</p> <!--só mostra se o campo foi digitado -->
                </div>

                <div ng-message="minlength" class="alert alert-danger">
                    <p>O campo nome deve ter no mínimo 10 caracteres!</p> <!--só mostra se o campo foi digitado -->
                </div>
            </div>

            <div ng-show="contatoForm.telefone.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
                <p>Preencha o telefone</p> <!--só mostra se o campo foi digitado -->
            </div> 

            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                <p>O campo telefone deve ter o formato de 99999-9999</p> <!--só mostra se o campo foi digitado -->
            </div>

        </div>

        <!-- Incluindo Footer -->
        <div ng-include="'footer.html'"></div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-3.1.0.min.js"><\/script>')</script>

        
    </body>
</html>